.page {
	background-color: white;
}

.yandex_predictor {
	position: relative;
	font-family: textbook, sans-serif;
}

.input {
	border: 1px solid rgb(221, 221, 221);
	box-sizing: border-box;
	padding: 6px;
	padding-left: 3px;
	padding-right: 3px;
	transition-duration: 0.1s;
	cursor: text;
	box-shadow: inset 0px 0px 3px #efefef;
	background-color: white;
	width: 100%;
	font-size: 16px;
	font-family: textbook, sans-serif;
}

.input:hover {
	background-color: rgb(240, 240, 240);
	box-shadow: 0px 0px 3px #efefef;
}

.input:focus {
	outline: none;
}

.input.hasInput {
	background-color: white;
}

.prediction_list {
	
}

.prediction {
}

.selected {
	background-color: lightyellow;
}

.advert {
	color: rgb(37, 37, 37);
	padding-top: 50px;
	margin-bottom: 50px;
}

.spinner {
	margin: 0;
    margin-top: 10px;
    margin-left: 1px;
	
	width: 1em !important;
    color: #ffd600;
	transition-duration: 0.5s;
	opacity: 0;
}

.spinner.visible {
	opacity: 1;
}

.help {
	position: absolute;
    top: 155px;
    color: #020202;
	
	transition-duration: 0.1s;
	font-size: 12px;
	opacity: 0;
}

.help.visible {
	opacity: 1;
}

.btn {
	display: inline-block;
    border: 1px solid #b5b5b5;
    padding: 2px;
    border-radius: 2px;
    opacity: 0.7;
    cursor: default;
	transition-duration: 0.1s;
}

.btn:hover {
    opacity: 1;
    border: 1px solid #f1d000;
}
